{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container center">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <label>
        Accepter les condition d'utilisation 
        {{ form_widget(registrationForm.agreeTerms) }}
        <span></span>
        </label>
<br>
        <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(registrationForm) }}
    <br>
</div>
{% endblock %}

{% block jumbotron %}

{% endblock %}
